* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family:"Helvetica lucida grande", "Segoe UI", tahoma, arial, "sans-serif";
}

html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }
a {
    text-decoration: none;
    /*color: rgb(61, 146, 201);*/
    /*color: white;*/
    /*margin-right: 10px;*/
}
a:hover,
a:focus {
    text-decoration: none;
}

h3 {
    font-weight: 100;
}
.btn.active,.btn:active{
  border-bottom: thick solid #8596d6;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.without_background tbody td {
  background-color: transparent;
}

/*!* Float Shadow *!*/
.float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

th, td {
    text-align: center;
    vertical-align: middle!important;
}

/* MENU PASEK */
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

.nav-tabs{
    background-color:#C8D3DB;
     text-align:center;
}

.nav > li > a{

border-radius: 5px;
    /*background-color: #0e90d2;*/
color:#9d9d9d;
}

.navbar-nav > li > a:hover{

background-color: #3D515F !important;

/*border-radius: 5px;*/
color:#9d9d9d;
}
.navbar-nav > li > a{


border-radius: 10px;
border: 3px dotted white;
color:#9d9d9d;
}

.navbar-nav > li.active > a,

.navbar-nav > li.active > a:focus,

.navbar-nav > li.active > a:hover{

background-color: white !important;

color:#9d9d9d;


}



.menu-box > h5 {
text-align: left;
margin-left: 63px;
margin-top: 10px;
line-height: 1.7;
font-size: 0.8rem;
}
.hiddenRow {
    padding: 0 !important;
}

a {
    color: #2f448f;
}
.btn-info{
    background-color: #ced5ef!important;
    border-color: #2f448f!important;
    color: #2f448f;
}
.btn-info:active:hover{
    background-color: #ced5ef!important;
    border-color: #2f448f!important;
}
.btn-info:hover{
    background-color: #ced5ef!important;
    border-color: #2f448f!important;
}
.btn-info:focus{
    background-color: #ced5ef!important;
    border-color: #2f448f!important;
}
.btn-info:visited{
    background-color: #ced5ef!important;
    border-color: #2f448f!important;
}
.panel-info{
    border-color: #541c28;
}
.panel-info > .panel-heading{
    color: #541c28;
    /*background-color: #ced5ef;*/
    background-color: #fcfcfd ;
    border-color: #2f448f;
}

.panel-info > .panel-heading:hover{
    background-color: #fcfcfd;
}

.border_color{
    border-left: 1px solid #541c28;
    border-right: 1px solid #541c28;
    border-top: 1px solid #541c28;
    border-bottom: 1px solid #541c28;
}
.clickable_row{
    background-color: #fcfcfd;
}



@media(max-height: 640px){

    .content{
        margin-top: 7%;
    }
}
@media(max-width: 425px){

    .content{
        margin-top: 7%;
    }
}

@media (min-width: 1000px) {

    .content {
        padding: 2em 3em 0;
        margin-left: 4%;
    }
}


