<!DOCTYPE html>
<html lang="pl">
{% load staticfiles %}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block BOX_HEAD_TITLE %}eMenu Bluemedia{% endblock %}</title>

    <link href="{% static 'bootstrap/jquery-ui.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
    <link href="{% static 'fonts/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'custom/style.css' %}" rel="stylesheet">

    <script type="text/javascript" src="{% static 'bootstrap/jquery-2.2.1.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'bootstrap/jquery-ui.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

</head>
<body>
<script>
$(document).ready(function ($) {
            $(".clickable_row").click(function () {
                window.document.location = $(this).data("href");
            }); // clickable end
            $('#table_sort').dataTable({
                "paging":   true,
                "info":     false,
                "searching":   true,
                "language": {
                    "lengthMenu": "Pokazuj _MENU_ rekordów na stronę",
                    "zeroRecords": "Nie znaleziono żadnych rekordów",
                    "info": "Strona _PAGE_ z _PAGES_",
                    "infoEmpty": "Nie znaleziono żadnych rekordów",
                    "search": "Szukaj w tabeli:",
                    "paginate": {
                        "first": "Pierwsza",
                        "last": "Ostatnia",
                        "next": "Następna",
                        "previous": "Poprzednia"
                    }
                },

            });

}); //document end
</script>
<div style="padding-bottom: 50px;">
{% block MENU %}

    <nav class="navbar navbar-fixed-top" style="background:rgb(28, 40, 84) none repeat scroll 0% 0%; border-color: rgb(28, 40, 84); border-radius: 0; ">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header col-md-2" style="float:left;">


            </div>
            <div class="col-md-7" id="navbar" style="float: left; margin-bottom:5px">
                <center>
                    <h3 class="top_name" style="color: white; line-height: 10px; padding-top: 0px;margin-top:15px;">eMenu Restaurant</h3>
                    <k class="top_name_after"><span style="color: white; margin-left: 100px;line-height: 1px;">BlueMedia S.A</span></k>
                </center>
            </div>
             <div class="col-md-3" style="float: right;">
                 <!-- Collect the nav links, forms, and other content for toggling -->
             </div>
          </div><!-- /.container-fluid -->
    </nav>



{% endblock %}
</div>

<div class="container">
    <div class="content">
        {% block MAIN_BODY %}

        {% endblock %}
    </div>
</div>
</body>
</html>
